
@{
    ViewBag.Title = "Validation Error";
}

<div class="row">
    <div class="span10 offset1">
        <h2>Validation Error</h2>
        <p class="alert alert-warning">@ViewBag.Message</p>
    </div>
</div>
