@model IEnumerable<Tuple<string, string>>

@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>
<br />

@foreach (var claim in Model)
{
    <p>
        @claim.Item1
        <br />
        <strong>@claim.Item2</strong>
    </p>
}
