@model IEnumerable<Models.ViewClaim>

@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>
<br />

@foreach (var claim in Model)
{
    <p>
        @claim.Type
        <br />
        <strong>@claim.Value</strong>
    </p>
}
