#main {
  position: relative;
  top: 0;
  left: 0;
}
#message {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}
.indent {
  position: relative;
  left: 22px;
}
.nav .dropdown-toggle .caret,
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.nav-pills .dropdown-menu {
  border-radius: 0;
}
