<autofac>
  <components>
    <component type="Thinktecture.AuthorizationServer.OAuth2.WSTrustResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.OAuth2"
               service="Thinktecture.AuthorizationServer.Interfaces.IResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.Core" >
      <parameters>
        <parameter name="address"
                   value="https://idsrv.local/issue/wstrust/mixed/username" />
        <parameter name="realm"
                   value="urn:authorizationserver" />
        <parameter name="issuerThumbprint"
                   value="973E8A633185A3A3E88B00B415CF9CBA608BA5F8" />
      </parameters>
    </component>
  </components>
</autofac>