<autofac>
  <components>
    <component type="Thinktecture.AuthorizationServer.OAuth2.WSTrustResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.OAuth2"
               service="Thinktecture.AuthorizationServer.Interfaces.IResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.Core" >
      <parameters>
        <parameter name="address" value="https://adfs.sitasudtrasporti.it/adfs/services/trust/13/usernamemixed" />
        <parameter name="realm" value="urn:local:authorizationserver" />
        <parameter name="issuerThumbprint" value="60FA9D6214204D36A9FC6639028FEC186B87DBDB" />
        <parameter name="decryptionThumbprint" value="4DCE4CA2998C04D116F44E1379DFAFA14329EE92" />
        
      </parameters>
    </component>
  </components>
</autofac>