<system.identityModel>
  <identityConfiguration>
    
    <audienceUris>
      <add value="urn:authorizationserver" />
    </audienceUris>
    
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="http://identityserver.v2.thinktecture.com/samples">
        <keys>
          <add thumbprint="BFF6C249A2FFAA51A959B422DAAEDCF10E8A38EB" />
        </keys>
        <validIssuers>
          <add name="http://identityserver.v2.thinktecture.com/samples" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
    
    <certificateValidation certificateValidationMode="None" />
  </identityConfiguration>
</system.identityModel>