<system.identityModel>
  <identityConfiguration>
    
    <audienceUris>
      <add value="urn:authorizationserver" />
    </audienceUris>
    
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority name="http://identityserver.v2.thinktecture.com/samples">
        <keys>
          <add thumbprint="8A4C9A276C8675B8DBA1C5CADC46BCFC312AEA09" />
          <add thumbprint="65996154AD39783393A90E5791405D1ECD6940E9" />
        </keys>
        <validIssuers>
          <add name="http://identityserver.v2.thinktecture.com/samples" />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
    
    <certificateValidation certificateValidationMode="None" />

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />
    </securityTokenHandlers>

  </identityConfiguration>
</system.identityModel>