@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
    <h1>AuthorizationServer</h1>
    <p>We secure your APIs</p>
     <p>
        <a href="@Url.Action("Index", "Home", new { area = "Admin" })" 
            class="btn btn-primary btn-large">Configure</a>
    </p>
</div>
