@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>
<ul class="nav nav-pills">
    <li>@Html.ActionLink("New Application", "Manage")</li>
</ul>
<table class="table table-striped hide table-condensed" data-bind="css:{hide:!applications().length}">
    <thead>
        <tr>
            <th></th>
            <th>Namespace</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:applications">
        <tr>
            <td>
                <a class="btn btn-primary" data-href="@Url.Action("Manage")" data-bind="attr: { href: $element.dataset.href + '#' + $data.id() }">Manage</a>
                <button class="btn" data-bind="click: function (data, evt) { $parent.deleteApp(data) }">Delete</button>
            </td>
            <td data-bind="text:namespace"></td>
            <td data-bind="text:name"></td>
        </tr>
    </tbody>
</table>
<p data-bind="css:{hide:applications().length}" class="hide alert alert-warning">
    No Applications Found
</p>

@section scripts{
    <script src="~/Areas/Admin/Scripts/Applications.js"></script>
}