@{
    ViewBag.Title = "Scopes";
}

<h2>Scopes</h2>

<ul class="nav nav-pills">
    <li>
        <a data-href="@Url.Action("Manage")"
            data-bind="attr: { href: $element.dataset.href + '#' + $data.appID() }">
            <i class="icon-arrow-left"></i> Back to Application</a>
    </li>
    <li>
        <a data-href="@Url.Action("Scope")" 
            data-bind="attr: { href: $element.dataset.href + '#a' + $data.appID() }">New Scope</a>
    </li>
</ul>
<table class="table table-striped hide" data-bind="css: { hide: !scopes().length }">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Emphasize</th>
            <th>Client Count</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: scopes">
        <tr>
            <td>
                <a class="btn btn-primary" data-href="@Url.Action("Scope")" data-bind="attr: { href: $element.dataset.href + '#' + $data.id() + 'a' + $parent.appID() }">Manage</a>
                <button class="btn" data-bind="click: function (data, evt) { $parent.deleteScope(data) }">Delete</button>
            </td>
            <td data-bind="text:name"></td>
            <td><input type="checkbox" disabled data-bind="checked: emphasize" /></td>
            <td data-bind="text: clientCount"></td>
        </tr>
    </tbody>
</table>
<p data-bind="css: { hide: scopes().length }" class="alert alert-warning hide">
    No Scopes Found
</p>


@section scripts
{
    <script src="~/Areas/Admin/Scripts/Scopes.js"></script>
}
