@{
    ViewBag.Title = "Symmetric Key";
}

<h2><span data-bind="text: editDescription"></span> Symmetric Key</h2>
<ul class="nav nav-pills">
    <li>
        <a href="@Url.Action("Index")">
            <i class="icon-arrow-left"></i> Back to Keys</a>
    </li>
</ul>
<fieldset>
    <legend></legend>
    <div>
        <label for="name">Name</label>
        <input id="name" data-bind="value: name, valueUpdate: 'keyup'" />
        <label class="text-error" data-bind="text: nameError"></label>
    </div>
    <div>
        <label for="value">Value (base64)</label>
        <input id="value" class="input-xlarge" data-bind="value: value, valueUpdate: 'keyup', enable: isNew" />
        <button type="button" class="btn" data-bind="click: createKey, enable: isNew">create</button>
        <label class="text-error" data-bind="text: valueError"></label>
    </div>
    <div><button class="btn btn-primary" data-bind="click: save, disable: anyErrors">Save</button></div>
</fieldset>

@section scripts{
    <script src="~/Areas/Admin/Scripts/SymmetricKey.js"></script>
}
