@section-border-color: #EEE;

#container-top > header{
    margin-top:30px;
    margin-top:20px;
    border-bottom:1px solid @section-border-color;
}

#container-top > footer{
    border-top:1px solid @section-border-color;
}
