@section-border-color: #EEE;

#container-top > header{
    margin-top:30px;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid @section-border-color;
}

#container-top > footer{
    border-top:1px solid @section-border-color;
    margin-top:20px;
    padding-top:10px;
    margin-bottom:10px;
}

fieldset > div
{
    margin-bottom:10px;
}

#container-top.page-authorize {
    header {
        padding-bottom:10px;
        margin:20px;
        h1 {
            font-size: 20px;
            line-height: 20px;
            margin:0;
        }
    }
}

.remember{
    padding-bottom:20px;
}