@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Validation error.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>
</body>
</html>